* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --text-color: #FFFFFF;
    --text-color2: #000000;
}

body {
    font-family: sans-serif;
    color: #444444;
}

.headers {
    position: relative;
    width: 100%;
}

.image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: blur(1px);
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.1rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo .nav-heading {
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    font-size: 26px;
    padding: 0;
    text-decoration: none;
}

.nav-logo .nav-heading span {
    color: var(--primary-color);
    font-weight: 700;
}

.nav-logo img {
    padding-left: 0px;
    height: 60px;
    width: 55px;
}

.navbar {
    text-align: center;
    font-size: 16px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 0.6rem;
}

.navbar a:hover {
    color: var(--primary-color);
    border-bottom: 0.1rem solid;
    padding-bottom: 0.3rem;
}
.blogHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; 
}

.blogHeading h1 {
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px; 
    background-color:#000000;
    font-weight: 550;
}
.blogs .box{
    margin-left: 5px;
    margin-right: 5px;
   padding-top: 15px;
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap:1.2rem;
  
   
}
.blogs .box .b{
    
    text-align: center;
    padding:0rem;
  background: #fff;
  max-height: 500px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
   
}
.blogs .box .b img{
    height: 300px;
    width: 430px;
    padding-top: 0px;
    padding-left: 0px;
}
.blogs .box .b .heading{
    color: #000000;
    text-align: left;
    padding-top: 10px;
    padding-left: 6px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.blogs .box .b .para p{
    text-align: left;
    color:black;
    font-size: 15px;
    padding-left: 6px;
    width: 430px;
    font-family: 'Roboto', sans-serif;
padding-right: 10px;
padding-top: 15px;
}

.blogs .box .b .button{
    padding-left: 10px ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blogs .box .b button{
        font-size: 1.1em;
        color: white;
        padding: 0.75rem 1.5rem;
        outline: none;
        border: none;
        white-space: nowrap;
        font-size: 1rem;
        background-color: black;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        letter-spacing: 1px;
       
    }
    
    .blogs .box .b button:hover {
        background: var(--primary-color);
        transform: scale(1.1);
    }

    footer .footer{
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
     padding-top: 60px;
    text-align: center;
    justify-content: center;
    height: 100px;
    font-size: 20px;
    margin-top: 30px;
    }